# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.vim
tags/
logs/

# system ignore
.DS_Store
Thumbs.db
*.orig
